.services {
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(121,9,118,1) 35%, rgba(166,61,185,1) 67%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.services h1:nth-child(1) {
    font-family: "GreatVibes";
    font-weight: 100;
    font-size: 2.5em;
    margin: 40px 0 15px 0;
    color: #fff;
}

.services h1:nth-child(2) {
    font-family: "Acme";
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 30px;
    color: #fff;
}

.unhas {
    background: url(../img/unhas-service.png) no-repeat center;
    background-size: 150%;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    color: white;
}

.unhas table {
    display: flex;
    flex-direction: column;
}

.unhas caption {
   font-family: "Acme";
   font-size: 3em;
   margin: 10px 30px 0px 30px;
   border-bottom: solid 2px #fff;
   width: 95%;
   align-self: center;
}

.unhas tr {
    font-family: "NovaRound";
    display: grid;
    grid-template-columns: 50% 50%;
}

.unhas td {
    padding-top: 10px;
}

.service {
    margin-left: 30px;
    width: 100%;
}

.price {
    text-align: left;
    margin-left: 35px;
    padding-left: 15px;
    border-left: #fff solid 2px;
}

.sobrancelhas {
    margin: 40px 0 15px 0;
    background: url(../img/sobrancelhas-service.png) no-repeat;
    background-position: 0 0;
    background-size: 150%;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sobrancelhas h2 {
    font-family: "Acme";
    font-size: 2.7em;
    font-weight: 100;
}


@media (min-width: 771px)  {
    .unhas {
        position: relative;
        right: 22.5%;
    }

    .sobrancelhas {
        position: relative;
        bottom: 340px;
        left: 22.5%;
        margin-bottom: -325px;
    }
}

@media (min-width: 951px)  {
    .unhas {
        right: 211px;
    }
    
    .sobrancelhas {
        left: 211px;
    }
}
