@font-face {
  font-family: "Acme";
  src: url(./fonts/Acme-Regular.ttf);
}

@font-face {
  font-family: "NovaRound";
  src: url(./fonts/NovaRound-Regular.ttf);
}

@font-face {
  font-family: "GreatVibes";
  src: url(./fonts/GreatVibes-Regular.ttf);
}